

#home-banner{
    height: 100vh;
    width: 100%;
    background-color: #f7f7f7;
    position: relative;
    overflow: hidden;
    .content{
        display: flex;
        height: 100%;
        z-index: 3;
        position: relative;
        align-items: center;
    }
}


#banner-content{
    max-width: 50%;
    #sub-title{
        text-transform: uppercase;
        font-weight: 500;
        font-size: 18px;
    }
    #title{
        font-size: 62px;
    }
}

#banner-background{
    background-image: url("/banner-bg.jpeg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: absolute;
        height: 100%;
        width: 100%;
        

        #dot-1{
            width: 220px;
            left: -10px;
            bottom: 150px;
            position: absolute;
        }

        #user-img-div{
            position: absolute;
            right: 0;

            bottom: -20px;
            z-index: 9;
            #dot-2{
                height: 300px;
                margin: 50px;
                margin-top: auto;
            }
            #user-img{
                max-width: 450px;
            }
        }
        #user-bg{
            position: absolute;
            right: 0;
                bottom: 0;
                max-width: 40%;
        }

}